@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Noir;
    src: url(@/assets/font/Noir_regular.otf);
  }

@font-face {
    font-family: Neon;
    src: url(@/assets/font/BPneon.otf);
  }

  @font-face {
    font-family: Arlon;
    src: url(@/assets/font/Arlon-UltraBold.ttf);
  }

  @font-face {
    font-family: Vibur;
    src: url(@/assets/font/Vibur-Regular.ttf);
  }
